
<div id="ty">
    <h1>Thank you for trying Freewrite</h1>
    <p>
    </p>
    <h4>My other apps:</h4>
    <p>
    </p>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="shaun.teeshad" data-color="#FFDD00" data-emoji="☕"  data-font="Arial" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
    <p></p>
    <h6>    
        <a href="https://luminous-app.com">
            Luminous Dashboard
        </a>        
    </h6>
    <h6>    
        <a href="https://qr-now.app">
            QR-Now
        </a>        
    </h6>
    <p></p>
    <a href="https://www.buymeacoffee.com/shaun.teeshad" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/arial-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
    <p></p>
    <a href="https://twitter.com/neuvoworld">
        <h3>Follow me on Twitter</h3>
    </a>
</div>
