
<div id="ty">
    <h1>Thank you for trying Actor's Prompts Platform</h1>
    <p>
    </p>
    <h4>If you want to support the development team, please buy us a coffee!</h4>
    <!--<h4>My other apps:</h4>
    <p>
    </p>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="shaun.teeshad" data-color="#FFDD00" data-emoji="☕"  data-font="Arial" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
    <p></p>
    <h6>    
        <a href="https://dailyholiday.gumroad.com/l/accomplish-app">
            Accomplish
        </a>        
    </h6>
    <h6>    
        <a href="https://dailyholiday.gumroad.com/l/ephemetrics">
            Ephemetrics
        </a>        
    </h6>-->
    <p></p>
    <a href="https://www.buymeacoffee.com/tech.guides" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/arial-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
    <p></p>
</div>
