<div class="contiainer">
    <div class="row">
      <div class="col-md-2">
  
      </div>
      <div class="col-md-4">
        <h1>Here are some stories submitted by our users</h1>
        <p></p>
        <h6>Vote for your favorites!</h6>
        <p></p>
        <h3>Submit your writing to get featured here</h3>
        <h5>Send your story to designstudiodelaware@gmail.com</h5>
        <p></p>
        <img src="../../assets/stories/story-submission-1.png" width="350px">

    </div>
    <div class="col-md-4">
        <img src="../../assets/stories/story-submission-2.png" width="350px">
    </div>
    <div class="col-md-2">
    </div>
  </div>
  