textarea {
  outline: none;
  border: 10px solid black;
  resize: none;
  background: none;
}

textarea:focus {
  outline: none;
  border: 10px solid black;
  resize: none;
  background: none;
  color: black;
}

::placeholder {
  color: darkslategrey;
}

.promptpicker {
  padding: 10px 20px 0px 20px;
}

#pdfDoc {
  padding-top: 10px;
}

.writingbox {
  max-height: 300px;
  max-width: -webkit-fill-available;
  margin: 0px 20px 0px 20px;
}

h3 {
  padding: 10px 20px 20px 20px;
}