<div class="contiainer">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group promptpicker">
        <p>
          <p>
        <label for="power"><h3>Pick your Prompts</h3></label>
        <select class="form-control" id="power" required>
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
        <p></p>
        <button class="btn btn-primary" (click)="getNew()">New</button>
        &nbsp;<button class="btn btn-primary" (click)="downloadpdf()">Download</button>
      </div>

    </div>
    <div class="col-md-8">
      <p>
      <p>
      <main id="pdfDoc" #pdfDoc>
        <h3>{{prompt}}</h3>
        <p>
        <textarea class="md-textarea form-control writingbox" rows="21" placeholder="Once upon a time..." [(ngModel)]="mywriting"></textarea>
        </main>

  </div>
  <div class="col-md-1">

  </div>
</div>
