<div class="contiainer">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <p>
      <p>
      <button class="btn btn-primary" (click)="getNew()">New</button>
      &nbsp;<button class="btn btn-primary" (click)="downloadpdf()">Download</button>
      <main id="pdfDoc" #pdfDoc>
        <h1>{{prompt}}</h1>
        <p>
        <textarea class="md-textarea form-control" rows="21" placeholder="Write here" [(ngModel)]="mywriting"></textarea>
        </main>
  </div>
  <div class="col-md-2">

  </div>
</div>
