textarea {
  outline: none;
  border: 10px solid black;
  resize: none;
  background: none;
}

textarea:focus {
  outline: none;
  border: 10px solid black;
  resize: none;
  background: none;
  color: black;
}

::placeholder {
  color: darkslategrey;
}

.promptpicker {
  padding: 50px;
}

#pdfDoc {
  padding-top: 50px;
}

.writingbox {
  max-height: 400px;
}