<div class="contiainer">
    <div class="row">
      <div class="col-md-2">
  
      </div>
      <div class="col-md-8">
        <p></p>
        <h1>Join our book club</h1>
        <p></p>
        <p></p>
        <p></p>
        <a href="https://dailyholiday.gumroad.com/l/freewrite-book-club?_gl=1*qalyz*_ga*MTU1NTE0MDE3MC4xNzAyNDA0NTAy*_ga_6LJN6D94N6*MTcwMjU4NTgzNC4yLjEuMTcwMjU4NTk4Ni4wLjAuMA.."><img id="button" src="../../assets/freewrite-bookclub.png" alt=""></a>
    </div>
    <div class="col-md-2">

    </div>
  </div>
