.card-books {display:inline-block;}

.card:hover{
    box-shadow: 8px 8px 8px grey;
    transform:scale(1.05);
}

.card{
  width: 400px;
  border:1px solid black;
  transition:.3s;
  margin: 3rem;
}

.navbar {
  background-color: #171F30!important;
}

.copyright {
  font-size: 10px!important;
  text-align: right!important;
}

/*** Color Changing Background Gradient ***/

html, body {
  width: 100%;
  height:100%;
}

body {
  background: linear-gradient(-125deg, #171F30, #171F30, #39F7F7, #171F30);
  background-size: 400% 400%;
    animation: gradient 125s ease infinite;
    padding-top:80px;
    padding-bottom:300px;
    color: #BEFFFF;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*** Color Changing Background Gradient ***/
